
.navbar {
    background: yellow;
    width: 100%;
}

#home-button {
    float: left;
}

#login-menu {
    float: right;
}
.click:hover {
    cursor: pointer;
    color: darkred;
}
.click {
    color: red!important;
}

.carouselContainer {
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: left;
    
}

.carousel-inner {
    border-style: outset;
}

.movie-info {
    margin-top: 40px;
}

#my-watch-list {
    max-width: 100%;
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    max-width: 960px;
    margin: auto;
    color: white;
    background-color: black;
}
body {
    background-color: black;
}
h2 {
    color: white;
    z-index: 5;
} 
.levels {
    max-width: 960px;
    color: white;
    margin: auto;
}
.poster {
    display: inline-block;
    width: 300px;
    margin: 0 10px;
    max-width: 100%;
    height: 100%;
    
}
img {
    width: 300px;
    min-width: 300px;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
