.arrow {
    height: 69px;
    width: 69px;
    background: transparent;
    border: transparent;
  
}
.arrow:hover {
    cursor: pointer;
} 
body {
    background-color: black;
}

h1 {
    border-bottom: solid;
    border-color: black;
    border-width: 5px;
}
h1,
h5 {
font-family: 'Aleo', serif;

}
.card {
    max-width: 300px;
    min-height: 707px;
    /* float: left; */
    margin-top: 40px;
}
.card-text {
    min-height: 110px;
}
.carouselContainer {
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: left;
}
.click {
    color: blue!important;
}
.click:hover {
    cursor: pointer;
}
.dropdownMain:hover {
    cursor: pointer;
}
.dropdown-item:hover {
    cursor: pointer;
}
#footer {
    height: 100px;
    background: url("../images/connectwork.png");
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    padding-top: 40px;
}
h2 {
    color: white;
    z-index: 5;
}
/* #home {
    margin-top: 0;
    vertical-align: top;
} */
#home-button {
    font-size: 16px;
    font-weight: 5px;
    color: white;
}
.left {
    float: left;
    position: absolute;
    left: -74px;
    z-index: 5;
    top: 232.25px;
}
@media only screen and (max-width:1000px) {
    .left {
        display: none;
    }
}
#mainSearch, #subSearch {
    font-family: 'Aleo', serif;
    padding: 3px;
    border-radius: 8px;
    background: lightgray;
    margin-right: 15px;
}

#media-modal-body {
    font-family: 'Aleo', serif;
}
.levels {
    max-width: 960px;
    color: white;
    margin: 0 auto;
    position: relative;
    margin-top: 15px;
}
.links {
    color: white;
}
#loginDropdownMenuLink {
    color: white;
    margin-left: 60px;
}
#media-modal-bio-person, #media-info-modal-person{
    max-width: 466px;
    margin: auto;
}
#media-modal-trailer, #media-modal-tv-trailer {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}
#media-modal-trailer iframe, #media-modal-trailer object, #media-modal-trailer embed, #media-modal-tv-trailer iframe, #media-modal-tv-trailer object, #media-modal-tv-trailer embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.modal-body {
    max-height: calc(100vh - 150px);
    overflow: auto;
    background: url("../images/prism.png");
    color: white;
    
}
.modal-dialog {
    overflow: initial!important;
    border: solid 2px whitesmoke;
}


.modal-header, #media-modal-footer{
    background: url("../images/connectwork.png");
    color: white; 
}
/* .modal-open {
    overflow: scroll;
} */
#moreButton:hover {
    cursor: pointer;
}
.movie-info {
    margin-top: 40px;
}
.moviePoster, .tvPoster, .actorPoster {
    max-height: 450px;
    height: 450px;
    width: 300px;
    min-width: 300px;
    border-radius: 8px;
}
.moviePoster:hover,
.tvPoster:hover,
.actorPoster:hover{
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.33), 0 17px 50px 0 rgba(0,0,0,0.25);
}
#my-watch-list {
    max-width: 100%;
}
#MyWatchItem {
    text-align: center;
    font-size: 16px;
    font-weight: 4px;
}
.navbar {
    width: 100%;
    position: fixed;
    padding: 20px;
    border: solid;
    top: 0;
    background: url("../images/connectwork.png");
    z-index: 6;
}
#personPic {
    margin: 0 10%;
    width: 80%;
}
.posterContainer {
    display: inline-block;
    width: 300px;
    margin: 0 10px;
    max-width: 100%;
    height: auto;
}
#remove-item {
    float: right;
    background: red;
}
#results-carousel-inner {
    display: inline;
    text-align: center;
}
.right {
    /* float: right; */
    position: absolute;
    right: -62px;
    z-index: 5;
    margin-left: 0;
    margin-right: 0;
    bottom: 251.25px;
}
@media only screen and (max-width:1000px) {
    .right {
        display: none;
    }
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    max-width: 960px;
    margin: auto;
    color: white;
    -webkit-overflow-scrolling: touch;
}
#search-bar {
    margin-right: 15px;
    border-radius: 8px;
    font-family: 'Aleo', serif;
    background: lightgray;
}
#search-type-selector {
    margin-right: 15px;
}
select:hover, option:hover {
    cursor: pointer!important;
}
#submit-button, #watch-button {
    margin-right: 15px;
    border-radius: 8px !important;
    font-family: 'Aleo', serif;
    background: lightgray !important;
}
 #submit-button:hover, #watch-button:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(122, 122, 122, 0.33), 0 17px 50px 0 rgba(122, 122, 122, 0.25);
 }

#topPush {
    height: 110px;
}

@media only screen and (min-width: 759px) and (max-width: 987px) {
    #topPush {
        height: 136px;
    }

}
@media only screen and (min-width: 613px) and (max-width: 759px) {
    #topPush {
        height: 147px;
    }
}
@media only screen and (min-width: 534px) and (max-width: 612px) {
    #topPush {
        height: 181px;
    }
    #watch-button{
        position: sticky;
       
    }
}
@media only screen and (min-width: 445px) and (max-width: 534px) {
    #topPush {
        height: 232px;
    }
}
@media only screen and (min-width: 355px) and (max-width: 445px) {
    #topPush{
        height: 272px; 
    }
}
@media only screen and (min-width: 320px) and (max-width: 355px) {
    #topPush{
        height: 323px;
    }
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #1e90ff;
}
